@page "/create-task"
<h1>New Task</h1>
<form asp-page="CreateTask" method="post">
    <label asp-for="NewTask.Title">Title</label>
    <input type="text"  asp-for= "NewTask.Title" /> 
    <input type="text" asp-for="NewTask.Description" />
    <input type="text" asp-for="NewTask.Priority" />
    <input type="submit" />
</form >
@model Tasker.Pages.CreateTaskModel
@{
}
